// !  ----- asist-box
.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  height: 100%;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (min-width: 320px) {
    .mobile-menu__container {
      // padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.mobile-menu__menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
}
