// ! ==== ЗАГОЛОВКИ СБРОС отступов
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--bg-prime-color);
  color: var(--text-prime-color);

  // ! ===== РИСУНКИ В INLINE-BLOCK
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // ! == УДАЛЕНЫ МАРКЕРЫ И margin-top-bottom ДЛЯ ВСЕХ СПИСКОВ
  .list {
    // margin-top: 0;
    // margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  // ! ===== PADDING для ВСЕХ INPUT
  input {
    padding: 0;
  }

  // ! ===== УДАЛЕНЫ ПОДЧЕРКИВАНИЕ ССЫЛОК
  .link {
    text-decoration: none;
  }
}
